@model Webshop.Models.RegisterViewModel
@{
    ViewBag.Title = "Regisztráció";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 class="text-center">Regisztráció</h2>
    <hr />
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="text-center text-danger">Ez az Email cím már használatban van!</div><br />
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Jelszó", new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Jelszó megerősítése", new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.Hidden("UserRole", "Customer")
    <div class="form-group">
        <div class="text-center">
            <input type="submit" class="btn btn-default" value="Regisztráció" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
