@model Webaruhaz.Models.Termek

@{
    ViewBag.Title = "Delete";
}

<h3>Biztosan törli?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nev)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ar)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Törlés" class="btn btn-default" /> |
            <a href="/" class="btn btn-default text-left">Vissza</a>
        </div>
    }
</div>
