@model Webshop.Models.Product

@{
    ViewBag.Title = "Termék részletei";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <img class="img-responsive" src="~/Content/images/categories/@(Model.Category.PictureURL).jpg" alt="">
            <br />
            <div class="row-fluid">
                @Html.ActionLink("Kosárba", "AddToCart", "ShoppingCart", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="col-md-6">
            <h1>
                @Model.Name
            </h1>
            <h3>
                Termékkód: @Model.ProductID
            </h3>
            <h3>
                Kategória: @Model.Category.Name
            </h3>
            <h3>
                Ár: @Model.Price Ft.-
            </h3>
            <hr />
            @Html.Partial("_Lorem")
        </div>
    </div>
</div>


